{% extends "escolaOnline/base.html" %}

{% block content %}
<h2>Professores</h2>

<section>
    {% for prof in profs %}
    <article>
        <header>
            <h3>{{ prof.nome }}</h3>
        </header>

        <section>
            <h4>Cursos</h4>
            <ul>
                {% for curso in prof.cursos.all %}
                    <li>{{ curso.nome }}</li>
                {% empty %}
                    <li>Sem cursos</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}